nav a{
    text-decoration: none;
    margin: 40px;
    font-size: 20pt;
    color: white;

}
h1{
    font: bolder;
    color: white;
    margin: 40px;
}
span{
    color: rgb(240, 169, 169);
}
nav a:hover{
    text-decoration: underline;
    color: rgb(215, 205, 245);
}
